
  <div class="panel panel-default">
  		<div class="panel-heading">
	    	<h3 class="panel-title">
	    		<%= @quote_to_render.quote_text %>
	    	</h3>
  		
  		</div>
  		
  		<div class="panel-body">
    			<%= @quote_to_render.quote_text %>
          <br/>

          <%= link_to @quote_to_render.author, author_page_path(@quote_to_render.author)  %>

          <hr/>

          <div class="row">
            <div class="col-md-6">

              Tags:   

              <% @quote_to_render.tags.each do |tag| %>

                <%= link_to tag.tag_title, tag_page_path(tag.url_slug) %>

              <% end %>
            </div>
            <div class="col-md-6">

              Votes:

              <%if @quote_to_render.votes.count != 0 %>

              <a data-target="#<%= @quote_to_render.url_slug %>" data-toggle="modal"> <%= @quote_to_render.votes.count %> </a>
              
              <% else %>

                0

              <% end %>

              <%= form_tag(add_vote_path, remote: true, method: "post") do %>
                <%= hidden_field_tag(:quote_id, @quote_to_render.id) %>

                <%= submit_tag('Vote Up') %>

                  <span class="glyphicon glyphicon-arrow-up"> </span>

              <% end %>


                
                
            </div>

            <hr/> 
          </div>

          <div class="row">
            <div class="col-md-12">

            Share:
              Copy URL <%= link_to 'Quote Link', quote_individual_path(@quote_to_render.url_slug) %>
              Facebook
              Linkedin
              Twitter
              Email

            </div> 
          </div>

      </div>
	</div>


<div class="modal fade" id="<%= @quote_to_render.url_slug %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title" id="myModalLabel"> 
          <%= @quote_to_render.quote_text %> Votes

        </h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <table>
          <% @quote_to_render.votes.each do |vote| %>
            <tr>
              <td>
                <%= link_to user_homepage_path(vote.user.username) do %>

                 <%= image_tag vote.user.set_profile_pic_url %>
                  &nbsp
                 <%= vote.user.full_name %> 


                 <% end %>

                <br/>
                <br/>
              </td>

            </tr>
          <% end %>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

