<!DOCTYPE html>
<html>
<head>
  <title>Quotable</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if @homepage %>
		<%= yield %>

	<% else %>
		<div class = 'container'>
			<div class = 'row'>

				<% if current_user %>
					<%= render "layouts/shared/header_menu" %>
				<% end %>

				<%= yield %>

			</div>
		</div>
	<% end %>








</body>
</html>

<script>
$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
})

</script>